.EmojiPickerReact.epr-dark-theme{
    --epr-emoji-size: 24px;
    --epr-text-color: white;
    --epr-font-size: 5px;
}
.singleIcon{
    padding: 5px 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
}
.singleIcon:hover {
    cursor: pointer;
    text-decoration-color: gray;
}